// Mixins Here

.btn-gen(@color, @txtcolor) {
	background: @color;
	color: @txtcolor;
	font-size: 18px;
	text-align: center;
	border-radius: 8px;
	padding: 10px 20px;
	width: 120px;
	max-width: 120px;

	&:hover {
		background: white;
		color: black;
		border: 1px solid red;
	}

	@media screen and @phone {
		width: 100%;
		max-width: 100%;
		padding: 32px;
	}
}

.width(@width: 100%) {
	width: @width;
}

.margin-top(@mt: 0) {
	margin-top: @mt;
}